{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
    {{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default ":date_long" site.Params.DateFormat)))) }}
{{- end }}

{{/* 状态徽章：front matter 里写 status: "连载中"/"完结"/"待填坑" */}}
{{- with .Params.status -}}
    {{- $statusClass := "unknown" -}}
    {{- if eq . "连载中" }}{{ $statusClass = "ongoing" }}
    {{- else if eq . "完结" }}{{ $statusClass = "finished" }}
    {{- else if eq . "待填坑" }}{{ $statusClass = "hiatus" }}
    {{- end -}}
    {{- $scratch.Add "meta" (slice (printf "<span class=\"status-badge %s\">%s</span>" $statusClass .)) }}
{{- end -}}

{{- if (.Param "ShowReadingTime") -}}
    {{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime)))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
    {{- $wc := partial "word_count.html" . -}}
    {{- $scratch.Add "meta" (slice (printf "<span>%d字</span>" $wc)) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
    {{- with (partial "author.html" .) }}
        {{- $scratch.Add "meta" (slice (printf "<span>%s</span>" .)) }}
    {{- end }}
{{- end }}

{{/* tags 链接（莫兰迪粉紫下划线，列表页显示） */}}
{{- with (.GetTerms "tags") -}}
    {{- $links := slice -}}
    {{- range . -}}
        {{- $links = $links | append (printf "<a class=\"meta-tag\" href=\"%s\">%s</a>" .RelPermalink .LinkTitle) -}}
    {{- end -}}
    {{- $scratch.Add "meta" (slice (printf "<span class=\"meta-tags\">%s</span>" (delimit $links " "))) -}}
{{- end -}}

{{/* categories 链接（莫兰迪灰蓝下划线，列表页显示） */}}
{{- with (.GetTerms "categories") -}}
    {{- $links := slice -}}
    {{- range . -}}
        {{- $links = $links | append (printf "<a class=\"meta-cat\" href=\"%s\">%s</a>" .RelPermalink .LinkTitle) -}}
    {{- end -}}
    {{- $scratch.Add "meta" (slice (printf "<span class=\"meta-cats\">%s</span>" (delimit $links " "))) -}}
{{- end -}}

{{- with ($scratch.Get "meta") }}
    {{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
